* ::before ::after{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
#faqs-page {
    background-image: url("/src/assets/images/pages/wine/about/kamil-unsplash.jpg");
}
.faq-page{
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5;
    color: rgb(40 48 52);
}
.page-hero-section {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: scroll!important;
    padding-top: 110px;
    padding-bottom: 120px;
}
#breadcrumb {
    margin-bottom: 14px;
    text-align: center;
}
@media (min-width: 321px) and (max-width: 413.95px) {
    #breadcrumb {
        margin-bottom: 10px;
    }
}
.breadcrumb-nav {
    display: inline-block;
    margin: 0 auto;
}
.breadcrumb {
    padding: 0;
    margin-bottom: 0;
    background-color: rgb(0 0 0 / 0%);
    border-radius: 0;
    width: 100%;
    list-style: none !important;
}
.breadcrumb-item a {
    color: rgb(9, 11, 12) !important;
    text-decoration: underline;
}
.breadcrumb-item + .breadcrumb-item {
    padding-left: 12px;
}
.breadcrumb-item {
    color: rgb(9, 11, 12) !important;
    font-size: 1.1rem;
    font-weight: 700;
    text-transform: uppercase;
}
.breadcrumb-item + .breadcrumb-item::before {
    display: inline-block;
    padding-right: 3px;
    content: "" !important;
}
h2 {
    font-family: 'Oswald', sans-serif;
    line-height: 1.3;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
}
.page-hero-section h2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #57ab00 !important;
}
.wide-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}
@media (max-width: 767px) {
    .wide-100 {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}
@media (min-width: 321px) and (max-width: 413.95px) {
    .questions-wrapper, .faqs-1-questions {
        padding: 0;
    }
}
.question {
    margin-bottom: 30px;
}
.h5-xs{
    font-family: 'Oswald', sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #57ab00;
    line-height: 1.6rem;
}
@media (min-width: 321px) and (max-width: 413.95px) {
    h5.h5-xs {
        font-size: 1.4rem;
    }
}
@media (min-width: 321px) and (max-width: 413.95px) {
    .question h5 {
        margin-bottom: 1.4rem;
    }
}
p {
    font-size: 1.0625rem;
    margin-top: 0;
    margin-bottom: 1rem;
}
.more-questions-btn {
    margin-top: 35px;
}
.btn-green {
    color: rgb(255 255 255)!important;
    background-color: #57ab00 !important;
    border-color: #57ab00 !important;
}
