* ::before ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.member-card:hover {
    border-color: #81be41 !important;
}

.member-card:hover .btn-join {
    color: #81be41 !important;
    border-color: #81be41;
    background-color: white !important;
}

