* ::before ::after{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
.membership-page{
    font-family: inherit;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5;
    color: rgb(40 48 52)
}

.card-body-sec h2 {
    color: #57ab00;
}

.card-body-sec p {
    font-size: 1rem;
}
.btn-green {
    line-height: 1;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border: 1px solid rgb(0 0 0 / 0%)!important;
    border-radius: 0.528rem !important;
    background-color: #57ab00;
    color: whitesmoke;
}
.btn-green:hover {
    color: whitesmoke !important;
}
.member-card{
    background-color: white;
    border-radius: 0.528rem;
}
.member-card:hover {
    background-color: #57ab00;
    color: whitesmoke;
}
.member-card:hover h2{
    color: whitesmoke;
}
.member-card:hover h4{
    color: whitesmoke;
}
.member-card:hover .member-price {
    color: whitesmoke;
}
.member-card:hover .btn-green {
    border: 2px solid whitesmoke !important;
}
.member-price{
    font-size: 200%;
    color: #57ab00;
}
.doller-sign{
    padding-top: -10px;
}