*{
    box-sizing: border-box;
}

.main-container{
    margin-top: 0% !important;
    overflow: hidden;
    padding: 0px
}
@media only screen and (max-width: 767px) {
    .main-container{
        margin: -13% -2.5% 0 !important;
        overflow: hidden;
        padding: 0px
    }
}
@media only screen and (min-width: 375px) and (max-width: 475px) {
    .main-container{
        margin: -24% -4.9% 0 !important;
        overflow: hidden;
        padding: 0;
    }
}
@media only screen and (min-width: 476px) and (max-width: 575px) {
    .main-container{
        margin: -19% -3.9% 0 !important;
        overflow: hidden;
        padding: 0;
    }
}
.FoodHasThePower__power{

    height: 100vh;
    width: 100%;
    background-image: url("/src/views/OurValues/images/background-tile.jpg");
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}
.FoodHasThePower__power_img{
    width: 92%;
    height: 90%;
}
.sr-only{
    color: rgb(69 20 0);
    line-height: 5rem;
    font-size: 62px;
    margin: 0 30% 0 30%;
}
.FoodHasThePower__subtext{
    height: auto !important;
    padding: 2.5rem 1.5rem 1.5rem;
    text-align: left;
    justify-self: start;
    color: rgb(69 20 0);
    font-family: Gotham-Medium, Arial, sans-serif;
}
.FoodHasThePower__bowl{
    background-image: url("/src/views/OurValues/images/background-tile.jpg");
    /*width: 99.77vw;*/
}

.FoodHasThePower__hero-bowl_img{
    height: auto;
    width: 100%;
}
.FoodHasThePower__subtext_title{
    height: auto;
    width: 100%;
}
img {
    vertical-align: middle;
    border-style: none;
}
.FoodHasThePower__subtext_text{
    margin-top: 1.3rem;
    font-size: 1.8rem;
    line-height: 2.1rem;

}

.FoodHasThePower__hero-burrito_img{
    width: 100%;
}
.FoodHasThePower__thought-animation{
    background-image: url("/src/views/OurValues/images/background-tile.jpg");
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.FoodHasThePower__thought-animation img{
    width: 70%;
}
.VideoSection{
    width: 100%;
    height: 110vh;
}

.VideoSection-video{
    height: 100%;
    width: 100%;
    /*margin-left: -1.2%;*/
    object-fit: cover;
}
.VideoSection img{
    margin-top: 5%;
    color: whitesmoke;
    height: 22em;
}

.VideoSection__text{
    /*margin-left: -20%;*/
    /*margin-right: -20%;*/
    margin-bottom: 20%;

}
.FreshFood__text-area_img{
    /*margin-top: 5%;*/
    margin-right: 5px;
    margin-bottom: 9px;
    color: whitesmoke;
    height: 6em !important;
}

.FreshFood__text-area_text p{
    color: whitesmoke;
    font-size: 2rem;
    line-height: 1.7rem;
    margin-top: 2px;
    text-align: left;
    font-weight: 700;

}
.RealIngredients__intro_animation{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.RealIngredients__intro_animation img{
    width: 85%;

}
.RealIngredients__intro_subtitle{
    font-family:Gotham-Medium, Arial, sans-serif;
    color: rgb(69 20 0);
    line-height: 2.2rem;
    font-size: 1.5rem;
    width: 32%;
    text-align: center;
    font-weight: 500;

}
.RealIngredients__intro_subtitle strong{
    margin: 0 5px 0 5px;
    font-weight: 800;
}
.RealIngredients__intro_hint{
    color: rgb(120 98 89);
    font-size: 1.3rem;
    line-height: 2.125rem;
    font-weight: 500;
}

.RealIngredients__ingredients_list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.Ingredient{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.Ingredient__text{
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(120 98 89);
    visibility: hidden;

}
.Ingredient__img-container img{
    height: 145px;
    width: 145px;
}
@media only screen and (max-width: 598px) {
    .Ingredient__img-container img{
        height: 103px;
        width: 103px;
    }
    .Ingredient__text{
        font-size: 1rem;
        font-weight: 500;
        color: rgb(120 98 89);
        visibility: hidden;

    }
}
@media only screen and (max-width: 523px) {
    .Ingredient__img-container img{
        height: 70px;
        width: 70px;
    }
    .Ingredient__text{
        font-size: 0.7rem;
        font-weight: 500;
        color: rgb(120 98 89);
        visibility: hidden;
    }
}
.Ingredient__img-container:hover {
    background-color: rgb(234 225 219);
    border: none;
    border-radius: 50%;
}
.Ingredient__img-container:hover ~.Ingredient__text{
    visibility: visible;
}

.RealIngredients__see-all{
    text-transform: uppercase;
    color: rgb(69 20 0) !important;
    font-family: "Trade Gothic LT Bold";
    font-weight: 700;
    font-size: 1.3rem;

}
.RealIngredients__see-all:hover{
    color: inherit;
}
.Realx3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 70px;
    height: 100vh;
}
.Realx3__headlines{
    /*height: 10em;*/
}
.Realx3__logo-for-real{
    margin-top: 70px;
}
@media only screen and (max-width: 523px) {
    .Realx3__logo-for-real{
        margin-top: 70px;
        width: 75%
    }
    .Realx3__headlines{
        width: 75%
    }
}

.Realx3__order-btn{
    background-color: rgb(69 20 0)!important;
    color: whitesmoke !important;
    border: none;
    border-radius: 0;
    text-transform: uppercase;
    padding: 20px;
    font-size: 1.8rem;
    font-weight: 600;
}
.Realx3__order-btn:hover {
    cursor: pointer;
    background-color: rgb(27 8 0) !important;
}
