.food-items{
    text-transform: uppercase;
    color: #756456;
    letter-spacing: 0;
    font-weight: bolder;
    margin-bottom: 0.8em;
    margin-left: 200px;
}

.food-items:hover{
    color: #451400;
    text-decoration: underline;
    image-rendering: auto;
}

.highlight{
    margin-top: 0.5em;
    font-size: 1.4em;
    font-weight: bolder;
    color: #451400;
}

.highlight:hover{
    color: #a76721;
}