.footer-top-row{
    padding-top: 20px;
    margin-bottom: 40px;
}
.footer-sec-row{
    margin-bottom: 40px
}
.footer-third-row{

}
@media (min-width: 1200px){
.noo-links {
        flex-wrap: wrap;
    }
}

@media (min-width: 1200px){
.noo-links {
            display: flex;
            flex-wrap: nowrap;
        }
 }
.noo-links {
            display: flex;
            flex-wrap: wrap;
}
@media (min-width: 1200px){
.link.text {
        flex: 0 0 50%;
        max-width: 160px;
    }
}
.link.text {
        flex: 0 0 50%;
        color: #fff;
        font-size: .85em;
        margin-bottom: 10px;
    }
.sec-row-heading{
    padding-bottom: 20px;
}
@media (min-width: 1200px){
   .link.image{
        height: 40px;
        width: 40px;
        margin-right: 20px;
    }
}
.image-social{
    width: 40px;
}
.country-area {
    justify-content: flex-start;
    padding-bottom: 8px;
}
.country-area, .flag-placement {
    display: flex;
    align-items: center;
}
.flag {
    height: 32px;
    width: 32px;
}
.country {
    padding-left: 10px;
}
.footer-1{
    background-color: #57ab00;
}