.headsec{
    background: url(../../assets/images/my-images/Food-33.jpg);
    padding-top: 70px;
    padding-bottom: 70px;
}
.pagetitle{
    color: white;
}
.contentsec{
    padding-top: 100px;
    padding-bottom: 100px;
}