.unlock-img-2 {
    flex: 0 0 auto;
    height: 34px;
    margin: 5px;
}
.col-content{
    display: flex;
    align-items: center;
}
.leftside {
    position: relative;
    z-index: 20;
    padding-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 520px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.hero---small-headline {
    margin-bottom: 21px;
    color: #ad2118;
    font-size: 32px;
    line-height: 35px;
    font-weight: 500;
    letter-spacing: 5px;
    width: 100%;
}
.hero__headline-static {
    display: inline;
    width: 520px;
    max-width: none;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    font-size: 50px;
    line-height: 55px;
    letter-spacing: 0px;
    white-space: nowrap;
    margin-bottom: 0px;
    width: 100%;
    font-family: Gotham-Black;
    font-weight: normal;
}
.div-block-paragraphs {
    margin-top: 15px;
    margin-bottom: 24px;
    max-width: 450px;
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    font-weight: normal;
    font-family: inherit;
}