.Dark_font h1{
    font-weight: 700;
    font-family: TradeGothicLTCom,TradeGothic,sans-serif;
    font-size: 16px;
}

.but {
    background-color: #57ab00;
    color: white;
    text-align: center;
    font-family: Helvetica;
    font-weight: 700;
    text-transform: uppercase;
}

.but:hover {
    background-color: #e3a51b;
    color: white;
    text-align: center;
    font-family: Helvetica;
    font-weight: 700;
    text-transform: uppercase;
}