.add {
    border-color: rgba(235,235,235, 0.9);
    border-width: 2px;

}

.add:hover {
    border-color: black;
    border-width: 2px;
    /*box-sizing: border-box;*/
    /*border-color: transparent; */
    /*box-shadow: 0 0 0 2px blue;*/
}

.showCard {
    display: flex;
    z-index: 4;
}

.hiddenCard {
    display: none;
}

.doubleQty:hover {
    background-color: rgba(129, 190, 65, .3);
}

.hoveredItem:hover {
    background-color: rgba(129, 190, 65, .3);
}

.moreAddon:hover {
    color: rgba(129, 190, 65, 1);

}

.showFilling {
    display: flex;

}

.hideFilling {
    display: none;
}